In [66]:
import os
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
dataset_path = r"C:\Users\achal\Downloads\audio_l2_arctic"

In [3]:
os.listdir(dataset_path)

['ABA-Arabic-M--ABAM',
 'EBVS-Spanish-Male--006EBVSM',
 'ERMS-Spanish-Male--005ERMSM',
 'HJK-Korean-F--002HJKF',
 'HKK-Korean-M--000HKKM',
 'MBMPS-Spanish-F--007MBMPSF',
 'NJS-Spanish-Female--003NJSF',
 'SKAA-Arabic-F--008SKAAF',
 'YBAA-Arabic-M--009YBAAM',
 'YDCK-Korean-F--001YDCKF',
 'YKWK-Korean-M--004YKWKM',
 'ZHAA-Arabic-F--ZHAAF']

In [5]:
for folder in os.listdir(dataset_path):
    folder_path = os.path.join(dataset_path, folder)
    print(folder_path)

C:\Users\achal\Downloads\audio_l2_arctic\ABA-Arabic-M--ABAM
C:\Users\achal\Downloads\audio_l2_arctic\EBVS-Spanish-Male--006EBVSM
C:\Users\achal\Downloads\audio_l2_arctic\ERMS-Spanish-Male--005ERMSM
C:\Users\achal\Downloads\audio_l2_arctic\HJK-Korean-F--002HJKF
C:\Users\achal\Downloads\audio_l2_arctic\HKK-Korean-M--000HKKM
C:\Users\achal\Downloads\audio_l2_arctic\MBMPS-Spanish-F--007MBMPSF
C:\Users\achal\Downloads\audio_l2_arctic\NJS-Spanish-Female--003NJSF
C:\Users\achal\Downloads\audio_l2_arctic\SKAA-Arabic-F--008SKAAF
C:\Users\achal\Downloads\audio_l2_arctic\YBAA-Arabic-M--009YBAAM
C:\Users\achal\Downloads\audio_l2_arctic\YDCK-Korean-F--001YDCKF
C:\Users\achal\Downloads\audio_l2_arctic\YKWK-Korean-M--004YKWKM
C:\Users\achal\Downloads\audio_l2_arctic\ZHAA-Arabic-F--ZHAAF

Script to change the pathname so that differentiating the paths is possible
Note: Path gets renamed in this code so don't run it again

In [ ]:
# for folder in os.listdir(dataset_path):
#     folder_path = os.path.join(dataset_path, folder)

#     if os.path.isdir(folder_path):
#         parts = folder.split('-')
#         if len(parts) >= 4:
#             client_id = parts[3]
#         else:
#             client_id = folder

#         wav_folder = os.path.join(folder_path, 'wav')
        
#         if os.path.exists(wav_folder):
#             for file in os.listdir(wav_folder):
#                 if file.endswith('.wav'):
#                     old_file_path = os.path.join(wav_folder, file)
#                     new_file_name = f"{client_id}_{file}"
#                     new_file_path = os.path.join(wav_folder, new_file_name)

#                     os.rename(old_file_path, new_file_path)

In [ ]:
# for folder in os.listdir(dataset_path):
#     folder_path = os.path.join(dataset_path, folder)

#     if os.path.isdir(folder_path):
#         parts = folder.split('-')
#         if len(parts) >= 4:
#             client_id = parts[3]
#         else:
#             client_id = folder

#         sentence_folder = os.path.join(folder_path, 'sentence')
        
#         if os.path.exists(sentence_folder):
#             for file in os.listdir(sentence_folder):
#                 if file.endswith('.txt'):
#                     old_file_path = os.path.join(sentence_folder, file)
#                     new_file_name = f"{client_id}_{file}"
#                     new_file_path = os.path.join(sentence_folder, new_file_name)

#                     os.rename(old_file_path, new_file_path)

In [ ]:
data = []

for folder in os.listdir(dataset_path):
    folder_path = os.path.join(dataset_path, folder)
    
    if os.path.isdir(folder_path):
        parts = folder.split('-')
        if len(parts) >= 4:
            client_id = parts[3]
        else:
            client_id = folder 

        wav_folder = os.path.join(folder_path, 'wav')

        if os.path.exists(wav_folder):
            for file in os.listdir(wav_folder):
                if file.endswith('.wav'):
                    data.append({'path': file, 'client_id': client_id})

df = pd.DataFrame(data)

In [23]:
df.head()

                       path client_id
0  010ABAM_arctic_b0508.wav   010ABAM
1  010ABAM_arctic_b0509.wav   010ABAM
2  010ABAM_arctic_b0510.wav   010ABAM
3  010ABAM_arctic_b0511.wav   010ABAM
4  010ABAM_arctic_b0512.wav   010ABAM

In [35]:
def get_sentence(wav_file_name):
    for folder in os.listdir(dataset_path):
        folder_path = os.path.join(dataset_path, folder)

        if os.path.isdir(folder_path):
            sentences_folder = os.path.join(folder_path, 'sentence')
            txt_file = wav_file_name.replace('.wav', '.txt')
            txt_file_path = os.path.join(sentences_folder, txt_file)

            if os.path.exists(txt_file_path):
                with open(txt_file_path, 'r', encoding='utf-8') as f:
                    return f.read().strip()
    
    return None

In [ ]:
df['sentence'] = df['path'].apply(get_sentence)

In [38]:
df.head()

,path,client_id,sentence
0,010ABAM_arctic_b0508.wav,010ABAM,In his anxiety and solicitude and love they di...
1,010ABAM_arctic_b0509.wav,010ABAM,He had fulfilled his duty and paid properly
2,010ABAM_arctic_b0510.wav,010ABAM,He knew what taboos he was violating
3,010ABAM_arctic_b0511.wav,010ABAM,Do you value your hide
4,010ABAM_arctic_b0512.wav,010ABAM,You should have seen them when they heard me s...

In [41]:
df['gender'] = df['client_id'].apply(lambda x: 'male_masculine' if x[-1].upper() == 'M' else ('female_feminine' if x[-1].upper() == 'F' else None))

In [43]:
def accent_decision(client_id):
    if client_id[-2].upper() == 'A':
        return 'Arabian'
    elif client_id[-2].upper() == 'K':
        return 'Korean'
    elif client_id[-2].upper() == 'S':
        return 'Spanish'
    else:
        return None

In [44]:
df['accents'] = df['client_id'].apply(accent_decision)

In [48]:
df.iloc[75:85]

,path,client_id,sentence,gender,accents
75,005ERMSM_arctic_a0020.wav,005ERMSM,Clubs and balls and cities grew to be only mem...,male_masculine,Spanish
76,005ERMSM_arctic_a0021.wav,005ERMSM,It fairly clubbed me into recognizing it,male_masculine,Spanish
77,005ERMSM_arctic_a0022.wav,005ERMSM,Hardly were our plans made public before we we...,male_masculine,Spanish
78,005ERMSM_arctic_a0023.wav,005ERMSM,A combination of Canadian capital quickly orga...,male_masculine,Spanish
79,005ERMSM_arctic_a0024.wav,005ERMSM,It was my reports from the north which chiefly...,male_masculine,Spanish
80,005ERMSM_arctic_a0025.wav,005ERMSM,I was about to do this when cooler judgment pr...,male_masculine,Spanish
81,005ERMSM_arctic_a0026.wav,005ERMSM,It occurred to me that there would have to be ...,male_masculine,Spanish
82,002HJKF_arctic_a0001.wav,002HJKF,Author of the danger trail Philip Steels etc,female_feminine,Korean
83,002HJKF_arctic_a0002.wav,002HJKF,Not at this particular case Tom apologized Whi...,female_feminine,Korean
84,002HJKF_arctic_a0003.wav,002HJKF,For the twentieth time that evening the two me...,female_feminine,Korean

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   path       324 non-null    object
 1   client_id  324 non-null    object
 2   sentence   324 non-null    object
 3   gender     324 non-null    object
 4   accents    324 non-null    object
dtypes: object(5)
memory usage: 12.8+ KB

In [54]:
reduced_df = pd.DataFrame()

for client in df['client_id'].unique():
    client_rows = df[df['client_id'] == client]

    if len(client_rows) >= 25:
        client_rows = client_rows.sample(n=len(client_rows) - 10, random_state=42)
    else:
        client_rows = client_rows.sample(n=len(client_rows) - 7, random_state=42) 
    
    reduced_df = pd.concat([reduced_df, client_rows], ignore_index=True)

In [55]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   path       216 non-null    object
 1   client_id  216 non-null    object
 2   sentence   216 non-null    object
 3   gender     216 non-null    object
 4   accents    216 non-null    object
dtypes: object(5)
memory usage: 8.6+ KB

In [59]:
reduced_df.columns.to_list()

['path', 'client_id', 'sentence', 'gender', 'accents']

In [62]:
reduced_df = reduced_df[['client_id','path', 'sentence', 'gender', 'accents']]

In [63]:
reduced_df

,client_id,path,sentence,gender,accents
0,010ABAM,010ABAM_arctic_b0537.wav,But she had become an automaton,male_masculine,Arabian
1,010ABAM,010ABAM_arctic_b0523.wav,The Russian music player the Count was her obe...,male_masculine,Arabian
2,010ABAM,010ABAM_arctic_b0532.wav,That Longfellow chap most likely had written c...,male_masculine,Arabian
3,010ABAM,010ABAM_arctic_b0525.wav,New idea he volunteered brand new idea,male_masculine,Arabian
4,010ABAM,010ABAM_arctic_b0516.wav,Zilla relaxed her sour mouth long enough to si...,male_masculine,Arabian
...,...,...,...,...,...
211,011ZHAAF,011ZHAAF_arctic_a0030.wav,I had faith in them,female_feminine,Arabian
212,011ZHAAF,011ZHAAF_arctic_a0004.wav,Lord but I'm glad to see you again Phil,female_feminine,Arabian
213,011ZHAAF,011ZHAAF_arctic_a0028.wav,Robbery bribery fraud,female_feminine,Arabian
214,011ZHAAF,011ZHAAF_arctic_a0024.wav,It was my reports from the north which chiefly...,female_feminine,Arabian
215,011ZHAAF,011ZHAAF_arctic_a0031.wav,They were three hundred yards apart,female_feminine,Arabian

In [67]:
sss  = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [68]:
for train_idx, test_idx in sss.split(df, df['client_id']):
    df_sampled_train = df.iloc[train_idx]
    df_sampled_test = df.iloc[test_idx]

In [69]:
df_sampled_train['client_id'].value_counts()

client_id
008SKAAF     29
011ZHAAF     26
010ABAM      25
000HKKM      25
001YDCKF     23
009YBAAM     22
005ERMSM     21
003NJSF      20
006EBVSM     19
004YKWKM     17
007MBMPSF    17
002HJKF      15
Name: count, dtype: int64

In [70]:
df_sampled_test['client_id'].value_counts()

client_id
011ZHAAF     7
008SKAAF     7
010ABAM      7
000HKKM      6
001YDCKF     6
005ERMSM     5
006EBVSM     5
003NJSF      5
009YBAAM     5
002HJKF      4
007MBMPSF    4
004YKWKM     4
Name: count, dtype: int64

In [71]:
df_sampled_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 259 entries, 193 to 66
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   path       259 non-null    object
 1   client_id  259 non-null    object
 2   sentence   259 non-null    object
 3   gender     259 non-null    object
 4   accents    259 non-null    object
dtypes: object(5)
memory usage: 12.1+ KB

In [72]:
df_sampled_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, 108 to 259
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   path       65 non-null     object
 1   client_id  65 non-null     object
 2   sentence   65 non-null     object
 3   gender     65 non-null     object
 4   accents    65 non-null     object
dtypes: object(5)
memory usage: 3.0+ KB

In [73]:
df_sampled_train.head()

,path,client_id,sentence,gender,accents
193,008SKAAF_arctic_a0016.wav,008SKAAF,There's Fort Churchill a rifle shot beyond the...,female_feminine,Arabian
160,003NJSF_arctic_a0008.wav,003NJSF,Gad your letter came just in time,female_feminine,Spanish
235,009YBAAM_arctic_a0022.wav,009YBAAM,Hardly were our plans made public before we we...,male_masculine,Arabian
222,009YBAAM_arctic_a0009.wav,009YBAAM,He turned sharply and faced Gregson across the...,male_masculine,Arabian
182,008SKAAF_arctic_a0005.wav,008SKAAF,Will we ever forget it,female_feminine,Arabian

In [74]:
df_sampled_train.to_csv("train_new.csv", index=False)
df_sampled_test.to_csv("test_new.csv", index=False)